* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #f9f8f3;
  color: #242145;
}

.header {
  height: 85px;
  padding: 24px 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #f9f8f3;
  border-bottom: 2px solid #242145;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;

  text-decoration: none;
  color: #242145;
}

.logo-icon {
  width: 32px;
  height: 32px;

  border: 2px solid #242145;
  border-radius: 6px;
}

.logo span {
  font-size: 24px;
  font-weight: 700;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  color: #5f5d75;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.nav-link.active {
  color: #242145;
  font-weight: 700;
}

.auth-buttons {
  display: flex;
  gap: 16px;
}

.login-button,
.signup-button {
  padding: 10px 20px;

  border: 2px solid #242145;
  border-radius: 8px;

  font-family: inherit;
  font-size: 14px;
  font-weight: 700;

  cursor: pointer;
}

.login-button {
  background: transparent;
  color: #242145;
}

.signup-button {
  background: #ffd02b;
  color: #242145;
}

.hero {
  background-image:
    linear-gradient(rgba(30, 27, 58, 0.65), rgba(30, 27, 58, 0.65)),
    url("./assets/images/hero-bg.png");
  background-size: cover;
  background-position: center;
  min-height: 627px;
  padding: 112px 120px;
}
.hero-content {
  width: 640px;
  padding: 48px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;

  background-color: #f9f8f3;
  border: 3px solid #242145;
  border-radius: 24px;
  box-shadow: 8px 8px 0 #242145;
}
.hero-content h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1;
  color: #242145;
}
.hero-content p {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  color: #5f5d75;
}
.hero-button {
  background-color: #ffd02b;
  color: #242145;

  border: 2px solid #242145;
  border-radius: 8px;

  padding: 16px 24px;

  font-size: 18px;
  font-weight: 700;

  text-decoration: none;
}
