$background: #f9f8f3;
$primary: #ffd02b;
$text-primary: #242145;
$text-secondary: #5f5d75;
$tertiary: #3a2ebf;
$white: #ffffff;
$breakpoint-tablet: 1024px;
$breakpoint-mobile: 768px;
$hover: #e5bb00;
$surface: #fff9e5;
$lowest: #3c376e;
